.card {
	border: none;
	width: 500px;
	padding: 40px;
	position: relative;
	top: 70%;
	left: 100%;
	transform: translate(-50%, -50%);
}
.card h1,
h6 {
	color: #fff;
}
label {
	color: #fff;
}
.example-container .mat-form-field + .mat-form-field {
	margin-left: 8px;
}
